.container-header {

}
.top1 {
  height: 5rem;
  display: flex;
  align-items: center;
  gap: 29rem;
}
.profile-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 100%;
  padding: 0 2rem;
}
.profile-container .icon {
  display: flex;
  gap: 1rem;
  margin-right: 2rem;
  color: rgb(173, 166, 166);
}
.profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* border: 1px solid black; */
}
