/* ========== Aside section ========= */
aside {
  height: 100vh;
}
aside .top {
  /* background: white; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}
aside .logo {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
aside .logo img {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1.4rem;
 
}


/* ========== Side bar ========= */
aside {
  background: #363740;
  height: 100%;
}
aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}
aside h3 {
  font-weight: 500;
}
aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  height: 3.7rem;
  transition: var(--transition);
  position: relative;
}
aside .sidebar a span {
  font-size: 1.3rem;
  transition: var(--transition);
}
.article-menu {
  border-bottom: 1px solid gray;
  margin-bottom: 2rem;

}
aside .sidebar a.active {
  color: var(--color-primary);
  background: var(--color-light);
  margin-left: 0;
}
aside .sidebar a.active::before {
  content: "";
  width: 0.38rem;
  height: 100%;
  background: var(--color-primary);
}
aside .sidebar a.active span {
  color: var(--color-primary);
  margin-left: calc(1rem-3px);
}
aside .sidebar a:hover {
  color: var(--color-primary);
  /* transition: var(--transition); */
}
aside .sidebar a:hover span {
  /* margin-left: 1rem; */
}
aside .sidebar .message-count {
  font-size: 0.7rem;
  color: var(--color-white);
  background: var(--color-danger);
  border-radius: var(--border-radius-1);
  padding: 2px 10px;
}
