.ticket-heading {
  display: flex;
  gap: 15rem;
}
.ticket-only {
  background: #fff;
  padding: 2rem;
  width: 95%;
}


tr {
  width: 100vw;
  }
  
  td {
    width: 10rem;
    /* border: 1px solid black; */
  }
  .cell2 {
    width: 22rem;
  }
  .priority {
    width: 8rem;
  }
  td p {
    font-size: 0.8rem;

  }
  td small {
    font-size: 0.5rem;
    text-align: center;
    opacity: 0.5;

  }
  



/* .ticket-container {
  display: flex;
  flex-direction: column;
 
}
.ticket-only {
  background: #fff;
 display: flex;
 flex-direction: column;
 gap: 0.2rem;
 width: 100%;
 align-items: center;
 margin-bottom: 1rem;
 border-radius: 0.6rem;
 width: 95%;
}
.ticket-only p {
  font-size: 0.6rem;
  width: 100%;
}
.ticket-title{
 padding: 1rem;
 margin-right: 43rem;
  
}
.ticket-brief {
  width: 100%;
}
.ticket-heading {
  display: flex;
  gap: 8rem;
}
.ticket__detail-1 {

  display: flex;
  gap: 4rem;
  padding: 1rem;
  width: 100%;

  align-items: center;

}
.ticket__detail-1:hover {
  cursor: pointer;
  background: transparent;
} */


